html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #282828;
  font-family: "Poppins", sans-serif;
}

::-moz-selection {
  background: #eee;
  color: #282828;
}

::selection {
  background: #eee;
  color: #282828;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #b4b4b4;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  border-radius: 5px;
}

p {
  color: #808080;
  font-size: 16px;
}

.section-heading {
  margin: 30px auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 60px;
}

.section-heading h1 {
  position: relative;
  margin: 50px auto;
}

.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
}

.section-heading p {
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .section-heading h1 {
    font-size: 28px;
  }
  .section-heading p {
    font-size: 16px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.7;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 24px;
  width: 45px;
  height: 45px;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  cursor: pointer;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 30px 0.2px rgba(33, 212, 253, 0.2);
          box-shadow: 0px 0px 30px 0.2px rgba(33, 212, 253, 0.2);
}

.scroll-to-top i {
  color: #ffffff;
}

.scroll-to-top.active-scroll {
  visibility: visible;
  opacity: 1;
}

header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  z-index: 99999;
  -webkit-box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.2);
}

header .logo-wrapper a {
  text-decoration: none;
}

header .logo-wrapper a .logo {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 100%;
  list-style: none;
  position: relative;
}

header nav a,
header nav button {
  text-decoration: none;
  color: #808080;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a:hover,
header nav button:hover {
  color: #21d4fd;
  text-decoration: none;
}

header nav .nav-dropdown {
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav .nav-dropdown .nav-dropdown-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

header nav .nav-dropdown .nav-dropdown-btn i {
  font-size: 14px;
  color: inherit;
  margin-left: 5px;
  margin-top: 5px;
}

header nav .nav-dropdown .nav-dropdown-content {
  width: 800px;
  z-index: 2;
  border-top: 4px solid #21d4fd;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -30px;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

header nav .nav-dropdown .nav-dropdown-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin: 5px 0;
}

header nav .nav-dropdown .nav-dropdown-content div a {
  font-size: 16px;
  color: #808080;
  border-bottom: 1px solid #eee;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav .nav-dropdown .nav-dropdown-content div a:hover {
  color: #282828;
  border-color: #21d4fd;
}

header nav .nav-dropdown-active .nav-dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 841px) {
  header .nav-dropdown:hover .nav-dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .nav-btn {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
  display: none;
}

header .nav-btn .hamburger {
  width: 35px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #282828;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .nav-btn .hamburger::before, header .nav-btn .hamburger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  border-radius: 4px;
  background-color: #282828;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .nav-btn .hamburger::before {
  top: -10px;
}

header .nav-btn .hamburger::after {
  top: 10px;
}

header .active-nav-btn .hamburger {
  background-color: transparent;
}

header .active-nav-btn .hamburger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .active-nav-btn .hamburger::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@-webkit-keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 840px) {
  header {
    position: relative;
  }
  header .nav-btn {
    display: block;
  }
  header nav {
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: calc(100vh - 100px);
    background-color: #ffffff;
    border-top: 4px solid #21d4fd;
    border-bottom: 2px solid #eee;
    position: absolute;
    left: 0;
    top: 100px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header nav a,
  header nav button {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .nav-dropdown {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: static;
  }
  header nav .nav-dropdown .nav-dropdown-content {
    border: none;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
  header nav .nav-dropdown .nav-dropdown-content div {
    width: 100%;
  }
  header .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-animation: anime 0.3s linear;
            animation: anime 0.3s linear;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 0 10px;
  }
}

#banner-section {
  width: 100%;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#banner-section .banner-text-wrapper {
  text-align: center;
  padding: 0px 40px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80%;
}

#banner-section .banner-text-wrapper p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #808080;
  margin: 20px auto;
  font-size: 1.5vw;
}

#banner-section .banner-text-wrapper h1 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 3vw;
}

#banner-section .banner-btn-wrapper a {
  padding: 15px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  outline: none;
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  border-radius: 6px;
}

#banner-section .banner-btn-wrapper a:hover {
  text-decoration: none;
  color: #ffffff;
}

#banner-section .banner-btn-wrapper a:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  #banner-section .banner-text-wrapper {
    width: 100%;
  }
  #banner-section .banner-text-wrapper p {
    font-size: 16px;
  }
  #banner-section .banner-text-wrapper h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  #banner-section .banner-text-wrapper {
    padding: 0 10px;
  }
  #banner-section .banner-text-wrapper h1 {
    font-size: 24px;
  }
}

#services-section {
  padding: 40px;
  width: 100%;
  min-height: 100vh;
}

#services-section .services-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#services-section .services-card-wrapper .services-card {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 20px;
  padding: 40px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services-section .services-card-wrapper .services-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 4px);
  width: 100%;
  height: 100%;
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#services-section .services-card-wrapper .services-card:hover::before {
  bottom: 0;
}

#services-section .services-card-wrapper .services-card:hover div h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

#services-section .services-card-wrapper .services-card:hover div p {
  color: #ffffff;
}

#services-section .services-card-wrapper .services-card a {
  text-decoration: none;
  cursor: pointer;
}

#services-section .services-card-wrapper .services-card div {
  position: relative;
  z-index: 2;
}

#services-section .services-card-wrapper .services-card div h2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 26px;
}

#services-section .services-card-wrapper .services-card div p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  #services-section {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 350px) {
  #services-section {
    padding: 10px;
  }
  #services-section .services-card-wrapper .services-card {
    width: 300px;
  }
}

#drop-us-section {
  width: 100%;
  min-height: 100vh;
  padding: 60px 0;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#drop-us-section .form-wrapper {
  margin: 0 auto;
  width: 450px;
  padding: 40px;
  padding-bottom: 20px;
  border: 2px solid #eee;
  position: relative;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#drop-us-section .form-wrapper .form-icon-wrapper {
  background-color: #ffffff;
  border: 2px solid #eee;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  -webkit-box-shadow: 0 0 20px 0.2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0.2px rgba(0, 0, 0, 0.1);
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#drop-us-section .form-wrapper .form-icon-wrapper i {
  font-size: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#drop-us-section .form-wrapper form {
  padding: 20px;
  margin-top: 40px;
}

#drop-us-section .form-wrapper form input {
  padding: 10px 0;
  margin-bottom: 30px;
}

#drop-us-section .form-wrapper form textarea {
  height: 80px;
  padding: 10px 0;
  margin-bottom: 20px;
  resize: none;
}

#drop-us-section .form-wrapper form input,
#drop-us-section .form-wrapper form textarea {
  width: 100%;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  padding-top: 20px;
  letter-spacing: 1.2px;
  border-bottom: 1.3px solid #808080;
}

#drop-us-section .form-wrapper form input:focus,
#drop-us-section .form-wrapper form textarea:focus {
  border-color: #21d4fd;
}

#drop-us-section .form-wrapper form input[type="submit"] {
  border-bottom: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 0;
  background-color: #282828;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #282828;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#drop-us-section .form-wrapper form input[type="submit"]:hover {
  background-color: transparent;
  border: 2px solid #282828;
  color: #282828;
}

#drop-us-section .form-wrapper form div {
  position: relative;
}

#drop-us-section .form-wrapper form div label {
  position: absolute;
  top: -12px;
  left: 0;
  color: #808080;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 460px) {
  .form-wrapper {
    width: 400px !important;
    padding: 40px 5px !important;
  }
}

@media screen and (max-width: 425px) {
  .form-wrapper {
    width: 350px !important;
  }
}

@media screen and (max-width: 375px) {
  .form-wrapper {
    width: 300px !important;
  }
}

footer {
  background-color: #282828;
  padding: 10px 40px;
}

footer .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

footer i {
  color: #808080;
}

footer .footer-link-wrapper,
footer .footer-address-wrapper,
footer .footer-social-wrapper {
  padding: 20px;
  margin: 20px 0;
}

footer .footer-link-wrapper h4,
footer .footer-address-wrapper h4,
footer .footer-social-wrapper h4 {
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 1.4px;
  font-size: 20px;
}

footer .footer-link-wrapper .footer-link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 5px 0px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .footer-link-wrapper .footer-link-item i {
  font-size: 18px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .footer-link-wrapper .footer-link-item p {
  margin-left: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .footer-link-wrapper .footer-link-item:hover i,
footer .footer-link-wrapper .footer-link-item:hover p {
  color: #ffffff;
}

footer .footer-address-wrapper p {
  margin-top: 10px;
}

footer .footer-social-wrapper .footer-social-icon {
  text-align: center;
}

footer .footer-social-wrapper .footer-social-icon i {
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 24px;
  border: 1px solid #808080;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .footer-social-wrapper .footer-social-icon i:hover {
  color: #ffffff;
  border-color: #ffffff;
}

footer .copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

footer .credit {
  text-align: center;
  padding-bottom: 10px;
}

footer .credit a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .footer-link-wrapper,
  .footer-address-wrapper,
  .footer-social-wrapper {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-link-wrapper .footer-link-item {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media screen and (max-width: 375px) {
  footer {
    padding: 10px 20px;
  }
  .footer-link-wrapper .footer-link-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 !important;
  }
  .footer-link-wrapper .footer-link-item p {
    font-size: 14px;
    margin-top: 5px;
  }
  .footer-address-wrapper p {
    font-size: 14px;
  }
  .copyright {
    font-size: 14px;
  }
  .credit {
    font-size: 14px;
  }
}

.about-banner {
  width: 100%;
  height: 200px;
  z-index: 1;
  background-image: url("../img/about-banner.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.about-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 2px;
}

.about {
  max-width: 800px;
  margin: 0 auto;
}

.about p {
  padding: 20px;
  text-align: center;
  line-height: 2;
  font-size: 17px;
}

.about ul {
  list-style: none;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 50px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about ul h3 {
  font-size: 22px;
}

.about ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  padding: 10px;
  width: 300px;
  min-height: 200px;
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
     border-image: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  border-image-slice: 1;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.about ul li i {
  margin-right: 10px;
  font-size: 38px;
  color: green;
}

.about ul li p {
  margin-top: 10px;
  padding: 0;
  font-size: 18px;
  color: #282828;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .about-banner h1 {
    font-size: 34px;
    text-align: center;
  }
}

.service-banner-section {
  width: 100%;
  height: 200px;
  position: relative;
  background-image: url("../img/services-banner.jpg");
  background-position: bottom;
  background-size: cover;
}

.service-banner-section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 2px;
}

.service-section-heading {
  margin: 30px auto;
  margin-top: 50px;
  max-width: 800px;
  text-align: center;
  margin-bottom: 60px;
}

.service-section-heading h2 {
  position: relative;
  margin: 50px auto;
}

.service-section-heading h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
}

.service-content-section {
  max-width: 800px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-content-section .content {
  padding: 0 20px;
}

.service-content-section .content .paragraph {
  margin-bottom: 30px;
}

.service-content-section .content .paragraph p {
  margin-top: 10px;
  line-height: 2;
  font-size: 16px;
  text-align: justify;
}

.service-content-section .image {
  border: 2px solid #eee;
  margin: 0 20px;
  width: 100%;
  max-width: 500px;
}

.service-content-section .image img {
  width: 100%;
}

.paragraph-heading {
  font-size: 20px;
  font-weight: bold;
}

.important-info-section {
  max-width: 800px;
  margin: 0 auto;
}

tr td {
  width: 50%;
}

.card-header {
  padding: 0;
  border: none;
}

.btn-link {
  border: none;
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #282828;
  outline: none;
}

.btn-link:focus {
  outline: none;
  text-decoration: none;
  color: #282828;
}

.btn-link:hover {
  text-decoration: none;
  color: #282828;
}

.list {
  margin-left: 10px;
}

.list li {
  margin-left: 20px;
  color: #808080;
  margin-top: 5px;
  margin-bottom: 5px;
}

.accordion {
  margin: 20px;
}

.important-info-section {
  margin-bottom: 100px;
}

.service-image {
  width: 100%;
}

.service-image img {
  width: 100%;
}

.points {
  list-style: none;
}

@media screen and (max-width: 375px) {
  .table th {
    padding: 4px;
    font-size: 15px;
  }
  .table td {
    letter-spacing: 0;
    padding: 4px;
    font-size: 14px;
  }
  .table .row {
    margin-left: 10px !important;
  }
}

.career-section {
  max-width: 800px;
  margin: 50px auto;
}

.career-section .career-content p {
  font-size: 18px;
  text-align: center;
  line-height: 2;
  margin: 20px 0;
}

@media screen and (max-width: 375px) {
  .career-section .career-content p {
    font-size: 16px;
  }
}

.contact-banner {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/contact-banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.contact-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.details-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details-card-wrapper .details-card {
  width: 500px;
  min-height: 300px;
  margin: 20px 0;
  padding: 20px 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
     border-image: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  border-image-slice: 1;
  border-left: none;
  border-right: none;
  border-top: none;
}

.details-card-wrapper .details-card h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.details-card-wrapper .details-card .connect-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  padding: 10px 0;
  width: 80%;
  border-bottom: 2px solid rgba(238, 238, 238, 0.5);
}

.details-card-wrapper .details-card .connect-link:last-of-type {
  border-bottom: none;
}

.details-card-wrapper .details-card .connect-link i {
  font-size: 28px;
  background: linear-gradient(-60deg, #b721ff 0%, #21d4fd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.details-card-wrapper .details-card .connect-link p {
  margin-top: 20px;
}

.details-card-wrapper .address-card div p {
  text-align: center;
  margin: 5px 0;
}

.details-card-wrapper .social-card {
  border: none;
}

.details-card-wrapper .social-card div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.details-card-wrapper .social-card div a {
  border: none;
}

.details-card-wrapper .social-card div i {
  width: 55px;
  height: 55px;
  font-size: 30px;
  border: 2px solid #808080;
  border-radius: 50%;
  padding: 10px;
  padding-left: 12px;
  color: #808080;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.details-card-wrapper .social-card div i:hover {
  color: #282828;
  border-color: #282828;
}

@media screen and (max-width: 510px) {
  .details-card-wrapper .details-card {
    width: 310px;
  }
}
/*# sourceMappingURL=style.css.map */