@import "./variable";

.service-banner-section {
  width: 100%;
  height: 200px;
  position: relative;

  background-image: url("../img/services-banner.jpg");
  background-position: bottom;
  background-size: cover;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 30px;
    color: $white;
    letter-spacing: 2px;
  }
}

.service-section-heading {
  margin: 30px auto;
  margin-top: 50px;
  max-width: 800px;
  text-align: center;
  margin-bottom: 60px;
  h2 {
    position: relative;
    margin: 50px auto;

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 3px;
      border-radius: 3px;
      background: $gradient;
    }
  }
}

.service-content-section {
  max-width: 800px;

  margin: 50px auto;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  .content {
    padding: 0 20px;
    .paragraph {
      margin-bottom: 30px;

      p {
        margin-top: 10px;
        line-height: 2;
        font-size: 16px;
        text-align: justify;
      }
    }
  }
  .image {
    border: 2px solid #eee;

    width: 100%;
    max-width: 500px;
    img {
      width: 100%;
    }
  }
}

.paragraph-heading {
  font-size: 20px;
  font-weight: bold;
}

.important-info-section {
  max-width: 800px;
  margin: 0 auto;
}

tr {
  td {
    width: 50%;
  }
}

.card-header {
  padding: 0;
  border: none;
}

.btn-link {
  border: none;
  padding: 20px 10px;

  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $black;

  outline: none;

  &:focus {
    outline: none;
    text-decoration: none;
    color: $black;
  }

  &:hover {
    text-decoration: none;
    color: $black;
  }
}

.list {
  margin-left: 10px;
  li {
    margin-left: 20px;
    color: $grey;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.accordion {
  margin: 20px;
}

.important-info-section {
  margin-bottom: 100px;
}

.service-image {
  width: 100%;

  img {
    width: 100%;
  }
}

.points {
  list-style: none;
}

@media screen and (max-width: 375px) {
  .table {
    th {
      padding: 4px;
      font-size: 15px;
    }
    td {
      letter-spacing: 0;
      padding: 4px;
      font-size: 14px;
    }
    .row {
      margin-left: 10px !important;
    }
  }
}
