@import "../variable";

footer {
  background-color: $black;
  padding: 10px 40px;

  .footer-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  i {
    color: $grey;
  }

  .footer-link-wrapper,
  .footer-address-wrapper,
  .footer-social-wrapper {
    padding: 20px;
    margin: 20px 0;

    h4 {
      color: $white;
      margin-bottom: 20px;
      letter-spacing: 1.4px;
      font-size: 20px;
    }
  }

  .footer-link-wrapper {
    .footer-link-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      height: 40px;
      padding: 5px 0px;
      margin: 5px;

      cursor: pointer;
      transition: 0.3s ease-in-out;

      i {
        font-size: 18px;
        transition: 0.3s ease-in-out;
      }
      p {
        margin-left: 10px;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        i,
        p {
          color: $white;
        }
      }
    }
  }
  .footer-address-wrapper {
    p {
      margin-top: 10px;
    }
  }

  .footer-social-wrapper {
    .footer-social-icon {
      text-align: center;

      i {
        width: 45px;
        height: 45px;
        padding: 10px;
        font-size: 24px;
        border: 1px solid $grey;
        border-radius: 50%;
        margin-right: 5px;

        transition: 0.3s ease-in-out;

        &:hover {
          color: $white;
          border-color: $white;
        }
      }
    }
  }
  .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .credit {
    text-align: center;
    padding-bottom: 10px;
    a {
      color: $white;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer-link-wrapper,
  .footer-address-wrapper,
  .footer-social-wrapper {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-link-wrapper {
    .footer-link-item {
      justify-content: center !important;
    }
  }
}

@media screen and (max-width: 375px) {
  footer {
    padding: 10px 20px;
  }
  .footer-link-wrapper {
    .footer-link-item {
      flex-direction: column;

      margin: 20px 0 !important;

      p {
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }
  .footer-address-wrapper {
    p {
      font-size: 14px;
    }
  }
  .copyright {
    font-size: 14px;
  }
  .credit {
    font-size: 14px;
  }
}
